body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background: rgba(236, 234, 236, 0.658);
}




@media (min-width: 460px) {
  /* Tablet */
}

@media (min-width: 460px) {
  /* Desktop */
} 

@media (max-width: 460px) {
  /* Tablet */
}

@media (max-width: 460px) {
  /* Desktop */
} 